body{ 
	min-height: 500px; 
	position: absolute;
}
.mdl-textfield{ width: 100%; }
.app-body {
	width: 100%;
	background: #2196F3;
	height: 150px;
}
.card{
	margin: auto;
	width: 90%;
	margin-bottom: 10px;
	/*padding: 10px;*/
}
.overlap {
	margin: auto;
	margin-top: -10%;
	width: 90%;
	background: white;
	min-height: 40px;
	padding: 10px;
	margin-bottom: 10px;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  /*background: #eee; */
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 

}
td, th { 
  padding: 6px; 
  height: 35px;
  border-bottom: 1px solid #ccc; 
  text-align: left; 
}
